<div class="container">
  <!--formulario para datos,ngsubmit es para pasar los datos del form a la funcion-->

  <!--<form #form="ngForm" (ngSubmit)="createElement(form)" class="row g-3">
      <div class="col-auto">
          <input type="text" name="name" required class="form-control" placeholder="Nombre" ngModel>
      </div>
      

      <div class="col-auto">
        <input type="text" name="description" required class="form-control" placeholder="Descrición" ngModel>
      </div>
      <div class="col-auto">
        <input type="text" name="image" required class="form-control" placeholder="Imagen" ngModel>
      </div>
      <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Agregar</button>
      </div>  

      alerta para cuando los datos mestan incompletos
      <div *ngIf="form.submitted && !form.valid" class="alert alert-danger" role="alert">
        Datos incompletos
      </div>
    </form>  -->
  
    <!--<form [formGroup]="form" (ngSubmit)="createElement()" class="row g-3">
      <div class="col-auto">
          <input type="text" formControlName="name" class="form-control" placeholder="Nombre" >
      </div>
      

      <div class="col-auto">
        <input type="text"  formControlName="description" class="form-control" placeholder="Descrición">
      </div>
      <div class="col-auto">
        <input type="text" formControlName="image" class="form-control" placeholder="Imagen">
      </div>
      <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Agregar</button>
      </div>  

      alerta para cuando los datos mestan incompletos
      <div *ngIf="!form.valid && ifFormSubmitted" class="alert alert-danger" role="alert">
        Datos incompletos
      </div>
    </form> -->
      
        <app-show-form (createElement)="createElement($event)" (updateElement)="updateElement($event)" [show]="selectedShow" [isEdit]="isEditing"></app-show-form>
        <app-show-filter (onAlfabetic)="ordenAlfa()" (onEnd)="ordenFinal()"></app-show-filter>
        <div class="container d-flex">
          <app-show-card *ngFor="let show of shows" [show]="show" (deleteCard)="deleteElement($event)" (editCard)="selectShowForEdit($event)"></app-show-card>
        </div>
</div>

